
@{
    ViewBag.Title = "Success";
    Layout = "~/Areas/users/Views/Shared/user_LayoutPage1.cshtml";
}

<br />
<br />
<br />
<br />
<h2 style="text-align:center">Successfully...Appointment..!!</h2>
<br />
<br />

<p style="text-align:center">
    <a href="/users/jd/ManageAppointment" style="text-align:center">Back To MyAppoinment</a>
</p>

<br />
<br />
<br />
<br />